<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMarche Assignment</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
    <h1 class="heading">Choose the Country</h1>
    <form action="/" method="POST">
        <label class="custom-select">
        <select name="country_code" >
            <option selected disabled>Choose here</option>
            <% for(var i=0; i < arrayList.length ; i++){ %>
                <option value=<%=codeList[i] %>><%= arrayList[i] %>
                </option>
                <% } %>
        </select>
    </label>
    
    <button name="button" type="submit">Show</button>
    </form>
    </div>
    
</body>

</html>