<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css";
</head>
<body> 
    <div class="container">
    <h1><%= collegeName %>'s Colleges</h1>
    <ol class="custom-counter">
        <%  for(var i = 0; i < collegeList.length ; i++){ %>
            <li><%= collegeList[i] %></li>
          <% } %>
    </ol>
    </div>
</body>
</html>